<dl>
  <ng-container
    *ngFor="let article of articles; trackBy: trackById; let index = index"
  >
    <div
      class="px-4 py-5 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-6 text-gray-900"
      [ngClass]="index % 2 == 0 ? 'bg-gray-50' : 'bg-white'"
    >
      <dt class="col-span-1">{{ article.title }}</dt>
      <dd class="col-span-3">
        {{ article.body }}
        <span class="text-sm font-medium text-gray-400 block mt-2"
          >Date Updated: {{ article.formatDate }}</span
        >
      </dd>
      <dd class="col-span-1 text-right">
        <a
          class="font-medium text-indigo-600 hover:text-indigo-500"
          [href]="'/article/' + article.id"
          >View</a
        >
        |
        <a
          class="font-medium text-indigo-600 hover:text-indigo-500"
          [href]="updateArticleLink + article.id"
          >Update</a
        >
      </dd>
    </div>
  </ng-container>
</dl>
