<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6 flex flex-row justify-between items-center">
    <!-- <h3 class="text-xl font-medium leading-6 text-gray-900">Article</h3> -->
    <a
      class="font-medium text-indigo-600 hover:text-indigo-500"
      [href]="articlesLink"
    >
      ← Back to Arcticles</a
    >
    <a
      [href]="updateArticleLink + article.id"
      class="rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      >Update Article</a
    >
  </div>
  <div class="border-t border-gray-200">
    <div class="bg-gray-50 px-4 py-5 text-gray-900">
      <h1 class="block text-xl mb-4">{{ article.title }}</h1>
      <div>{{ article.body }}</div>
    </div>
  </div>
</div>
